<center><h1 background-color="#CCCCCC">Edit Shusher "<em><%= @shusher.name %></em>"</h1></center>

<hr>
<%= render "form" %>

<script>
  var lastVal;

  $('.disable-button').click(function() {

    var mySlider = $('#shusher_sound_threshold');
    var sliderValue = $("#slider-value");

    if ($(this).text() === "Disable") {
      $(this).text("Enable");
      $(this).removeClass("btn-danger");
      $(this).addClass("btn-primary");
      mySlider.slider("disable");
      lastVal = mySlider.slider("getValue");
      mySlider.val(-1);
      sliderValue.text('');
      mySlider.slider("disable");
    } else {
      $(this).text("Disable");
      $(this).removeClass("btn-primary");
      $(this).addClass("btn-danger");
      mySlider.slider("enable");
      mySlider.slider("setValue", lastVal);
      if (lastVal > 0) {
        sliderValue.text(lastVal + '%');
      }
    }

  });   

</script>
