<center><h1>About the Shusher</h1></center>

<hr>
<ul>
  <li>Case scenarios:</li>

  <li>classroom ambiance noise</li>
  <li>baby sleeping next door</li>
  <li>roommates are too loud</li>
  <li>general shared space ambiance noise control</li>
</ul>

<center><%= image_tag "obama-shush.jpg", class: "pull-right" %></center>